<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div> -->
<!-- <hr> -->
<!-- <div class="row">
  <div class="col-xs-10">
    <recipe-item *ngFor="let recipe of recipes; let i = index"
    [recipe]="recipe"
    [recipeIndex]="i">
    </recipe-item>
  </div>
</div> -->
<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="flex-start center">
  <ng-container *ngFor="let recipe of recipes; let i = index">
      <div class="col-xs-2 mar-bottom-30" *ngIf="i === 0">
          <h1 *ngIf="fromPage === 'home'">{{recipe.name}}</h1>
          <recipe-item *ngIf="fromPage === 'recipes'" [recipe]="recipe" [fromPage]="fromPage" (recipeDetails)="showRecipeDetails(recipe)"></recipe-item>
      </div>
      <div class="col-xs-2 mar-bottom-30" *ngIf="i > 0">
        <recipe-item [recipe]="recipe" [fromPage]="fromPage" (recipeDetails)="showRecipeDetails(recipe)"></recipe-item>
      </div> -->
      <!-- <div class="col-xs-3 mar-bottom-30" *ngIf="i > 0">
          <mat-card class="recipe-card" fxFlex="0 1 auto" (click)="showRecipeDetails(recipe)">
              <img mat-card-image src="https://static2.tripoto.com/media/filter/nl/img/461838/TripDocument/1517477853_vegetables_italian_pizza_restaurant.jpg" [alt]="recipe.name"> -->
              <!-- <img mat-card-image [src]="recipe.imageUrl" [alt]="recipe.name"> -->
              <!-- 750 x 600 pixels image mandatory -->
              <!-- <mat-card-header>
                  <mat-card-title>{{recipe.name}}</mat-card-title>
                  <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
              </mat-card-header>
          </mat-card>
      </div> -->
  <!-- </ng-container>
</div> -->